   <div class="container-fluid" >
        <div class="row bg-secondary py-1 px-xl-5">
         
            <div class="col-lg-6 text-center text-lg-right"  >
                 <!-- hiden in lg screen -->
                <div class="d-inline-flex align-items-center d-block d-lg-none">
                   
                    <a href="/cart" class="btn px-0 ml-2">
                        <i class="fas fa-shopping-cart text-dark"></i>
                        <span class="badge text-dark border border-dark rounded-circle c" style="padding-bottom: 2px;">{{count}}</span>
                    </a>
                    {{#if user}}
           <div class="btn-group ml-auto">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">{{user.name}}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  href="/logout"> <button class="dropdown-item" type="button">log out</button></a>
                            <a  href="/setings"> <button class="dropdown-item" type="button">Settings</button></a>
                        </div>
                    </div>
                    {{else}}
                      <div class="btn-group ml-auto ">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  href="/login"> <button class="dropdown-item" type="button">log in</button></a>
                           <a  href="/signup"> <button class="dropdown-item" type="button">Sign up</button></a>
                            
                        </div>
                    </div>
                    {{/if}}

                </div>
            </div>
        </div>

         <!-- hiden in sm screen -->
        <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-lg-4" >
                <a href="" class="text-decoration-none">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Shop</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Mart</span>
                </a>
            </div>
            <div class="col-lg-4 col-6 text-left">
               
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for products" onkeyup="search(this)" >
                        <div class="input-group-append">
                            <span class="input-group-text bg-transparent text-primary">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                   <div id="result" style="position: absolute; z-index: 1; background-color: white; width: 94%;"></div>
              
            </div>
            {{#if user}}
           <div class="btn-group ml-auto">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">{{user.name}}</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  href="/logout"> <button class="dropdown-item" type="button">log out</button></a>
                           
                            <a  href="/setings"> <button class="dropdown-item" type="button">Settings</button></a>
                        </div>
                    </div>
                    {{else}}
                      <div class="btn-group ml-auto">
                        <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My account</button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a  href="/login"> <button class="dropdown-item" type="button">login</button></a>
                            
                            <a  href="/setings"> <button class="dropdown-item" type="button">Settings</button></a>
                        </div>
                    </div>
                    {{/if}}

        </div>
    </div>
    <div class="container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
          
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 py-lg-0 px-0">
                    <!-- Hidden in large screen -->
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Shop</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Mart</span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse" >
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link ">Home</a>
                            <a href="/orderdetails" class="nav-item nav-link">orders</a>
                            <a href="/setings" class="nav-item nav-link">Settings</a>
                            
                        </div>
                        <div class="navbar-nav ml-auto py-0 d-none d-lg-block">
                           
                            <a href="/cart" class="btn px-0 ml-3">
                                <i class="fas fa-shopping-cart text-primary"></i>
                                <span class="badge text-secondary border border-secondary rounded-circle c" style="padding-bottom: 2px;">{{count}}</span>
                            </a>
                           
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <script>
        result.innerHTML = ""
        function search(e){
            let match1 = e.value.match(/^[A-Z]+$/i)
            let match2 = e.value.match(/\s*/)
            if(match2[0]===e.value){      //ths is to avoid loading of the whole data when there is space in the search box at the begining
                result.innerHTML = ""  
                return
            }
            if(match1[0]===e.value){        //this is to query the database if the searched value is a alphabet only
            let key = e.value
            let result = document.getElementById('result')
            $.ajax({
                url:'/search',
                data:{
                    key:key
                },
                method:'post',
                success:(data)=>{
                    console.log('here')
                   
                    result.innerHTML = data
                    
                }
            })
            return
            result.innerHTML = ""
            }
        }
    </script>