

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href='/'>Home</a>
                    <a class="breadcrumb-item text-dark" href="#">Shop</a>
                    <span class="breadcrumb-item active">Shop Detail</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Shop Detail Start -->
    <div class="container-fluid pb-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 mb-30">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="carousel-item active zoom ">
                            <img class="w-100 h-100" id="zoom" src="/productimage/{{prodetails.img.[0]}}"alt="image">
                            
                        </div>
                        <div class="carousel-item zoom ">
                            <img class="w-100 h-100" id="zoom1" src="/productimage/{{prodetails.img.[1]}}" alt="Image">
                        </div>
                        
                    </div>
                    <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                        <i class="fa fa-2x fa-angle-left text-dark"></i>
                    </a>
                    <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                        <i class="fa fa-2x fa-angle-right text-dark"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-7 h-auto mb-30">
                <div class="h-100 bg-light p-30">
                    <h3>{{prodetails.name}}</h3>
                    <div class="d-flex mb-3">
                        <div class="text-primary mr-2">
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        </div>
                        <small class="pt-1">(99 Reviews)</small>
                    </div>
                      <h3>RS{{prodetails.ofprice}}</h3>
                      {{#if offerper}}
                                            <h6 class="text-muted ml-2"><del>RS {{this.price}}</del></h6>
                                            {{/if}}
                  
                    <p class="mb-4">{{prodetails.discription}}</p>
                   
                 
                  
                  
                     <button class="btn btn-primary px-3" id="{{prodetails._id}}" onclick="addtocart('{{prodetails._id}}')">addtocat</button>
                    
                           
                    </div>
                   
                </div>
            </div>
            
        </div>
        
       
    
    <!-- Shop Detail End -->


    <!-- Products Start -->
   
    <!-- Products End -->


    <!-- Footer Start -->
     <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                <h5 class="text-secondary text-uppercase mb-4">Get In Touch</h5>
                <p class="mb-4">feel free to contact in case of emergency...</p>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Kerala, India</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>Shopmart@gmail.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+0484 2255</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Quick Shop</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="/"><i class="fa fa-angle-right mr-2"></i>Home</a>
                            <a class="text-secondary mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping Cart</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">My Account</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="/setings"><i class="fa fa-angle-right mr-2"></i>Setings</a>                           
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                       
                       
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Follow Us</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                            <a class="btn btn-primary btn-square" href="#"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
    <!-- Footer End -->
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" 
        integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" 
        crossorigin="anonymous">
</script>
<script src="/javascripts/jquery-1.8.3.min.js" ></script>
       
       
       <script>
        
        
         $('#zoom').imagezoomsl({zoomType: 'inner',cursor:'crosshair'});
            $('#zoom1').imagezoomsl({zoomType: 'inner',cursor:'crosshair'});
        

       </script>

    <!-- Back to Top -->
    


    <!-- JavaScript Libraries -->
   
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  
    

  
   
   
    <!-- Template Javascript -->
  
    <script>
       
    </script>
</body>

</html>